@tailwind base;
@tailwind components;
@tailwind utilities;

fieldset {
  border: thin solid darkGreen;
  margin-top: 50px;
  background-color: #776ebc;
  color: white;
  font-family: sans-serif;
  border-radius: 0.25em;
  padding: 8px;
}

.likertIndicator {
  background: white;
}
