@tailwind base;
@tailwind components;
@tailwind utilities;

fieldset {
  border: thin solid darkGreen;
  margin-top: 50px;
  background-color: #776ebc;
  color: white;
  font-family: sans-serif;
  border-radius: 0.25em;
  padding: 8px;
}

.likertIndicator {
  background: white;
}

.sd-root-modern {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.sd-action-bar {
  margin: 4px;
}

.sd-completedpage {
  font-family: var(--font-family);
  font-weight: bold;
  box-sizing: border-box;
  text-align: center;
  margin: 10px;
  height: 400px;
}
